:root {
    /* modified by dark mode*/
  --color-bg: #F4E285;
  --color-text: black;
  
  /* others */
  --color-dignified-green: #708f54;
  --transition-duration: 0.3s;
  --wrapper-height: 85vh;
  --image-max-width: 300px;
  --image-margin: 2rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}


/* Glitch boilerplate
/* Links that open files in the editor */
.fileopener {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid var(--color-snake);
  color: var(--color-fruit);
}
.fileopener:hover {
  border-bottom: 3px solid var(--color-fruit);
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Glitch remix button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 2rem;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  padding: 0rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
 /* border-top: 4px solid #ffffff;*/
}

.footer a:hover {
  background: var(--color-bg);
}

.footer .links {
  padding: 0rem 2rem 0rem;
  white-space: nowrap;
}

.divider {
  padding: 0 0rem;
}

body {
  font-family: HK Grotesk;
  font-size: 120%;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color var(--transition-duration);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: stretch center;
  margin: 0rem 0.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: var(--color-dignified-green);
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 60%;
  text-align: center;
  margin: 0;
}

.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

.instructions {
  margin: 1rem auto 0;
  font-size: 150%;
  color: var(--color-text);
  font-weight: bold;
}

/* ------------------------------------ MY SHIT*/
/*Styling for dot matrix*/

/* Style each dot in the grid */
.dot {
  width: 32px; /* Adjust the dot size as needed */
  height: 32px; /* Adjust the dot size as needed */
  background-color: #5B8E7D;
  border-radius: 50%; /* Makes it a circle */
}

/* Style the grid container */
#binary-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(
    8,
    32px
  ); /* Adjust the column width as needed */
  grid-gap: 1px; /* Adjust the gap between cells */
  border-radius: 0px;
}


.left-text {
  flex-grow: 1; /* Allow text to grow and take available space */
  
  margin: 0.5rem 2rem;
  font-size:120%;
  font-weight: bold;
  color: var(--color-text);
  text-align: left; /* Align text to the left */
}

/*

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000000;
  text-decoration: none;
  border-style: none;
}*/